<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ihm Web</title>
    <!-- <link rel="stylesheet" href="{% static 'index.css' %}"> -->
    <link rel="icon" type="image/png" href="{% static 'image/Polar.jpg' %}">
</head>

<body class="corps">
    <header>
        <h1 class="config2">Mondial des mêtiers, serveur web esclave pour les rubans Led</h1>
    </header>
    <footer class="footer">
        <button id="btnshut" type="button" onclick="Shutdown()">
            Shutdown
        </button>
 <!-- LG 20241129 début -->
        <button id="btnBlanc" type="button" onclick="lanceBlanc()">
            Blanc.py
        </button>
        <button id="btnClignotement" type="button" onclick="lanceClignotement()">
            Clignotement.py
        </button>
        <button id="btnNoel" type="button" onclick="lanceNoel()">
            Noel.py
        </button>
        <button id="btnNoir" type="button" onclick="lanceNoir()">
            Eteint.py (Noir)
        </button>
        <button id="btnStop" type="button" onclick="stoppeLeds()">
            Stopper l'animation
        </button>
 <!-- LG 20241129 fin -->
    </footer>

    <script src="{% static 'index.js' %}"></script>
 <!-- LG 20241129 début -->
    <script>
        function Shutdown() {
            alert("Cette fonctionnalité n'est pas encore implémentée") ;
        }
        function lanceBlanc() {
            window.location = "ledAllumerGet?y=blanc.py" ;
        }
        function lanceClignotement() {
            window.location = "ledAllumerGet?y=clignotement.py" ;
        }
        function lanceNoel() {
            window.location = "ledAllumerGet?y=noel.py" ;
        }
        function lanceNoir() {
            window.location = "ledAllumerGet?y=eteint.py" ;
        }
        function stoppeLeds() {
            window.location = "stop" ;
        }    
    </script>
 <!-- LG 20241129 fin -->
</body>

</html>