<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flux en direct</title>
</head>
<body>
	<h1>TEST affichage caméra</h1>
	<img src="{{ url_for('video') }}" alt="Flux vidéo">
</body>
</html>
