body {
   /*  background: #001489; */
}

.fieldset {
    background-color: white;
    border: solid #001489 3px;
}

.navbar {
/* LG 20221129 old    background: #41B6E6; */
    background: #AFDAEB;
}

#select {
}

#button, #bgeneral {
    background-color: #001489;
    color: #0ff;
    border-color: #2B2F31;
    padding: auto;
}

iframe body {
    margin: 0;
}
iframe body img{
    width: 100%;
    height: 100%;
}


/* #Titre {
    color: #0ff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
} */
