<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ihm Web</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #121212;
            color: #e0e0e0;
            font-family: 'Roboto', sans-serif;
        }

        header {
            background-color: #1f1f1f;
            padding: 20px;
            text-align: center;
            border-bottom: 2px solid #2a2a2a;
        }

        footer {
            background-color: #1f1f1f;
            padding: 20px;
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 2px solid #2a2a2a;
        }

        button {
            font-size: 1.1rem;
            padding: 10px 20px;
            border: none;
        }

        #btnLancer {
            background-color: #4caf50;
            color: white;
        }

        #btnLancer:hover {
            background-color: #45a049;
        }

        #btnStop {
            background-color: #f44336;
            color: white;
        }

        #btnStop:hover {
            background-color: #d32f2f;
        }

        #resultat {
            margin: 20px auto;
            padding: 15px;
            background-color: #1f1f1f;
            border: 1px solid #2a2a2a;
            border-radius: 8px;
            max-width: 800px;
        }
    </style>
    <link rel="icon" type="image/png" href="{% static 'image/Polar.jpg' %}">
</head>

<body>
    <!-- Header -->
    <header>
        <h1>Mondial des Métiers</h1>
        <p>Serveur Django Test - Hameg</p>
    </header>

    <!-- Résultats dynamiques -->
    <div id="resultat">
        <h3 class="text-center">Résultats</h3>
        <p class="text-center">Les résultats de l'animation seront affichés ici.</p>
    </div>

    <!-- Footer avec les boutons -->
    <footer>
        <div class="d-flex justify-content-center">
            <button id="btnLancer" type="button" class="me-3" onclick="lanceAnimation()">
                <i class="bi bi-play-fill"></i> Lancer Animation
            </button>
            <button id="btnStop" type="button" onclick="stopAnimation()">
                <i class="bi bi-stop-fill"></i> Stopper Animation
            </button>
        </div>
    </footer>

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Scripts Bootstrap et votre script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'index.js' %}"></script>
    <script>
        function lanceAnimation() {
            fetch("http://192.168.50.14:8000/polls/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify({ action: "start" })
            })
                .then(response => response.json())
                .then(data => {
                    // Afficher les données JSON dans la div "resultat"
                    const resultatDiv = document.getElementById("resultat");
                    resultatDiv.innerHTML = `
                        <h3>Résultats de l'Animation</h3>
                        <ul>
                            ${data.map(channel => `
                                <li>
                                    <strong>Canal ${channel.channel}</strong> - Port COM: ${channel['port-com']}
                                    <ul>
                                        ${channel.liste.map(item => `
                                            <li>Intensité: ${item.intensite}%, Durée: ${item.duree}s</li>
                                        `).join('')}
                                    </ul>
                                </li>
                            `).join('')}
                        </ul>
                    `;
                })
                .catch(error => {
                    console.error("Erreur réseau : ", error);
                    document.getElementById("resultat").innerHTML = "Erreur lors de la récupération des données.";
                });
        }

        function stopAnimation() {
            fetch("http://192.168.50.14:8000/polls/arreterAnimation", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify({ action: "stop" })
            })
                .then(response => {
                    if (response.ok) {
                        document.getElementById("resultat").innerHTML = "Animation arrêtée avec succès.";
                    } else {
                        document.getElementById("resultat").innerHTML = "Erreur lors de l'arrêt de l'animation.";
                    }
                })
                .catch(error => console.error("Erreur réseau : ", error));
        }

        function getCSRFToken() {
            let csrfToken = null;
            document.cookie.split(';').forEach(cookie => {
                const [name, value] = cookie.trim().split('=');
                if (name === 'csrftoken') {
                    csrfToken = value;
                }
            });
            return csrfToken;
        }
    </script>
</body>

</html>
